# **EDA - Loan Dataset**

# **Madhu Patil**

## Statsly Analytics

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

# Import Dataset

In [ ]:
df1=pd.read_excel('loan.xlsx')
df1.head()

In [ ]:
#column names
df1.columns.values

In [ ]:
df1.shape

There are 39717 rows and 111 columns

In [ ]:
df1.info(111)

# Handling Null Values

In [ ]:
df1.isna().sum().head(56)

In [ ]:
df1.isna().sum().tail(56)

In [ ]:
plt.figure(figsize=(15,5))
sns.heatmap(df1.isnull().head(56),yticklabels=False,cbar=False, cmap='Blues')
plt.grid(True)
plt.show()

From above plot we can see that there are some null values in the dataset.

In [ ]:
df1.isna().mean().head(56).round(4)*100  #Converting null values into percentage.

In [ ]:
df1.isna().mean().tail(56).round(4)*100

In [ ]:
df1.drop(['mths_since_last_record','mths_since_last_major_derog','annual_inc_joint','dti_joint','open_il_12m','open_il_24m','mths_since_rcnt_il',
        'total_bal_il','il_util','open_rv_12m','open_rv_24m','max_bal_bc','all_util','total_rev_hi_lim','inq_fi','total_cu_tl','inq_fi','total_cu_tl',
        'inq_last_12m','acc_open_past_24mths','avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct','mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq','mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl','num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats','num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
       'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75','next_pymnt_d','tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit','total_il_high_credit_limit','verification_status_joint','tot_coll_amt','tot_cur_bal',
       'open_acc_6m','open_il_6m'],axis=1, inplace=True)

In [ ]:
plt.figure(figsize=(15,5))
sns.heatmap(df1.isnull().head(56),yticklabels=False,cbar=False, cmap='Blues')
plt.grid(True)
plt.show()

From the above graph we can see there are still some of the null values present

In [ ]:
df1.isna().mean().head(57).round(4)*100

In [ ]:
mean=df1['mths_since_last_delinq'].mean()

In [ ]:
df1['mths_since_last_delinq'].fillna(mean,inplace=True)

In [ ]:
df1.dropna(inplace=True)

In [ ]:
df1.isna().mean().head(57).round(4)*100

In [ ]:
plt.figure(figsize=(15,5))
sns.heatmap(df1.isnull().head(56),yticklabels=False,cbar=False, cmap='Blues')
plt.grid(True)
plt.show()

Now there are no null values present in the dataset.

## Dropping Unwanted Columns

In [ ]:
# Removing unwanted columns
df1.drop(['id','member_id','url','desc','pymnt_plan','initial_list_status','collections_12_mths_ex_med','policy_code','acc_now_delinq','chargeoff_within_12_mths','delinq_amnt','tax_liens'], axis=1, inplace=True)

In [ ]:
df1.head(2)

In [ ]:
df1.shape

## Checking for Duplicates

In [ ]:
df1.duplicated().sum()

There are no duplicate values present in the dataset

## EDA

In [ ]:
from autoviz.AutoViz_Class import AutoViz_Class

AV = AutoViz_Class()

In [ ]:
df = AV.AutoViz('loan.xlsx')

# Univeriate Analysis

In [ ]:
df1.hist(figsize=(20,20))
plt.show()

In [ ]:
fig, axs = plt.subplots(ncols=2,nrows=2,figsize=(15,10))
df1['emp_title'].value_counts().nlargest(5).plot(kind='bar', ax=axs[0][0])
sns.countplot(df1['verification_status'], ax = axs[0][1], palette="vlag")
sns.countplot(df1['home_ownership'], ax = axs[1][0], palette="rocket")
sns.countplot(df1['term'], ax = axs[1][1], palette="deep")

* Maximum Loan was taken by the US Army, where as UPS took the least loan.
* Not verified count is more than the source verified
* In Home ownership, maximum was rented home while very less had their own home.
* The term was maximum of 36 months.

In [ ]:
plt.figure(figsize=(5,5))
df1['loan_status'].value_counts().nlargest(4).plot(kind='pie',explode=(0,0,0.1),autopct=("%1.2f%%"))
plt.title("Loan Status")
plt.show()

Loan status has maximum of Fully Paid while there is very less number with currently on going

In [ ]:
fig, axs = plt.subplots(ncols=2,nrows=2,figsize=(20,20))
sns.countplot(data=df1 ,y='grade', ax = axs[0][0], palette="rocket")
sns.countplot(data=df1 ,y='sub_grade', ax = axs[0][1], palette="rocket")
sns.countplot(data=df1, y='emp_length', ax = axs[1][0])
sns.countplot(data=df1,y='purpose', ax = axs[1][1], palette="deep")

From the above graph we can conclude that, 
*   Grade “A” and “B” assign the highest loan.
*   Subgrade "A4" and "B4" assign the highest loan. 
*   Employeers having 10+ years of employment length are assigned the highest loan.
*   Debt Consolidation is most common purpose to take the loan.

## Biveriate Analysis

In [ ]:
sns.jointplot(data=df1,x='loan_amnt', y='funded_amnt')

Loan Amount and Funded amount has a Linear correlation

In [ ]:
sns.catplot(data=df1,x='int_rate',y='term')

Interest rate was maximum for 60 months.

In [ ]:
plt.figure(figsize=(10,8))
sns.barplot(data=df1,x='int_rate',y='addr_state')

State AK has the maximum interest rate where as in sate IA has low interest rate

In [ ]:
plt.figure(figsize=(20,8))
sns.scatterplot(data=df1,x='addr_state',y="loan_status")
plt.xticks(rotation=90)
plt.grid()
plt.plot()

* State AK and MT has no Current ongoing loan payment
* State AI, NE and DT was never charged nor has any current on going loan payment

In [ ]:
sns.scatterplot(data=df1, x="funded_amnt", y="last_pymnt_amnt")
plt.xticks(rotation=90), 
plt.show()

Last Payment Amount and Funded Amount has a linear Correlation.

In [ ]:
plt.figure(figsize=(15,10))
sns.countplot(data=df1, hue="loan_status", y="purpose")

* Loan taken for the purpose of Debt Consolation has maximum of fully paid loan status. 
* As compared to other purpose debt consolation has maximum charges and currently ongoing loan payment. 
* There are no current ongoing loan payment for the purpose Education, Renewable Energy, Wedding, Vacation, Moving and Medical.

In [ ]:
plt.figure(figsize=(18,8))
sns.barplot(data=df1, x="open_acc", y="funded_amnt")

From the above plot we can see that, Amount was funded more who has the maximum number of Open Accounts.

In [ ]:
plt.figure(figsize=(18,8))
sns.barplot(data=df1, x="funded_amnt", y="grade")

From above plot we can conclude that maximum amount was funded to grade G followed by grade F and E. Where as, less than 10000 was funded to grade A

In [ ]:
plt.figure(figsize=(18,5))

sns.distplot(df1['funded_amnt'][df1['emp_title']=='US Army'],hist=False,color='red')
sns.distplot(df1['funded_amnt'][df1['emp_title']=='Bank of America'],hist=False,color='blue')
sns.distplot(df1['funded_amnt'][df1['emp_title']=='IBM'],hist=False,color='yellow')

plt.xlabel('Funded Amount', fontsize = 16)
plt.title('Plot of Employment Title with Funded Amount  ', fontsize = 16)
plt.show()

* Amount Funded to US Army ranges from 0 to 30,000
* Amount Funded to Bank of America ranges from 0 to 20,000
* Amount Funded to IBM ranges from 0 to less than 20,000

In [ ]:
figure = plt.figure(figsize=(20,8))
sns.lineplot(x="annual_inc",y="funded_amnt",data=df1)
plt.show()

Annual Income and Funded Amount are linear while there are some outliers in the annual amount

In [ ]:
sns.regplot(data=df1, x='annual_inc', y='funded_amnt')

In [ ]:
sns.scatterplot(data=df1, x='annual_inc', y='funded_amnt')

## Multiveriate Analysis

In [ ]:
figure = plt.figure(figsize=(15,8))
sns.scatterplot(x="annual_inc",y="total_pymnt",hue="verification_status",data=df1)
plt.show()

Loan Amount having less than 30000 was not verified, where as loan with higher amount ie more than 30,000 was verified

In [ ]:
figure = plt.figure(figsize=(15,8))
sns.scatterplot(x="funded_amnt_inv",y="total_pymnt",hue="pub_rec_bankruptcies",data=df1)
plt.show()

From the above graph we can see that people were not much bankrupt, while there are very less bankrupt with 1.0

In [ ]:
figure = plt.figure(figsize=(15,8))
sns.scatterplot(x="funded_amnt_inv",y="total_pymnt",hue="loan_status",data=df1)
plt.show()

In [ ]:
figure = plt.figure(figsize=(20,8))
sns.scatterplot(x="annual_inc",y="funded_amnt",hue="home_ownership",data=df1)
plt.show()

Maximum loan was funded to the Mortgage followed by home ownership with own while very less amount was funded to other.

In [ ]:
# Diving the dataset into Categorical & Numerical data
df_cat=df1.select_dtypes(['object'])
df_num=df1.select_dtypes(['int64','float64'])

In [ ]:
df_cat.head(2)

In [ ]:
df_num.head(2)

**Checking for Outliers**

In [ ]:
plt.figure(figsize=(20,12))
sns.boxplot(data=df_num)
plt.xticks(rotation=90)
plt.show()

Annual Income has some Outliers.

**Checking for Skewness**

In [ ]:
from scipy.stats import skew
for col in df_num:
    print(col)
    print(skew(df_num[col]))
    plt.figure()
    sns.distplot(df_num[col])

Some of the Features in the dataset are highly skewed

In [ ]:
plt.figure(figsize=(20,12))
sns.heatmap(df1.corr(), annot = True)

Loan Amount & Funded Amount are highly corelated.

In [ ]:
df1.corr().style.background_gradient()

In [ ]:
sns.pairplot(data=df1)